#header-start {
    background-color: rgb(177, 204, 229);
    
}

header h2, header h5 {
    font-weight: 600;
}

header a img {
    scale: calc(2.5);
    min-width: 45px;
    padding-bottom: 2px;
}

nav ul li {
    font-weight: 700;
    font-size: 1.5em;
}

nav .li-lg {  
    font-size: 1.2em;
}

nav .li-sm {
    font-size: 0.8em;
}

/*Quienes somos*/

/*Esto es la imagen grande*/
.clinic-img{
  height: 420px;
  object-fit: cover;
  display: block;
}
/*la caja que contiene la caja con el texto*/
 .aparecer{
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .25s ease, transform .25s ease;
  background: rgba(13, 43, 69, 0.55);
}

.aparecer:hover{
  opacity: 1;
  transform: translateY(0);
}

/* Caja del texto */
.cajaInfo{
    position: absolute;
    left: 80px;
  background: rgba(255,255,255,0.92);
  color: #0d2b45;
  max-width: 720px;}


body {
    background-color: #FFFFFF;
    color: #000000;          
    font-family: Arial, sans-serif;
}


.titulos {
    color: #3D82F2;
    font-weight: bold;
    text-transform: uppercase;
}

.card-daw {
    background-color: #F2F2F2;
    border: none;
    border-radius: 8px;
}

.card-title {
    color: #000000;
}

.button {
    background-color: #0057FF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #3D82F2;
    transition: 0.3s;
}

footer {
    background-color: #000000;
    color: #FFFFFF;
    padding: 30px 0;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

.fa-brands, .fa-solid {
    color: #FFFFFF;
}

.text-destacado {
    color: #3D82F2;
}