#header-start {
    background-color: rgb(177, 204, 229);
    
}

header h2, header h4 {
    font-weight: 600;
    margin: 0;
}

header a img {
    scale: calc(2.5);
    min-width: 50px;
    padding-bottom: 2px;
}

nav ul li {
    font-weight: 700;
    font-size: 1.5em;
}

.li-lg {  
    font-size: 1.2em;
}

.li-sm {
    font-size: 0.8em;
}