#header-start {
    background-color: rgb(177, 204, 229);
    
}

header h2, header h4 {
    font-weight: 600;
    margin: 0;
}

header img {
    scale: calc(2.5);
    min-width: 50px;
    padding-bottom: 1px;
}